/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Poppins:wght@400;700&display=swap');

:root {
    /* Colors */
    /* Primary */
    --cyan: hsl(179, 62%, 43%);
    --yellow: hsl(71, 73%, 54%);
    /* Neutral */
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    /* Typography */
    --font-size-paragraph: 16px;
    /* Font weights */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: "Karla", sans-serif;
    font-size: var(--font-size-paragraph);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 24px;
}

/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}